[submodule "Python-bucket"]
	path = bucket-prototype
	url = https://github.com/lastone9182/Python-bucket.git
[submodule "Java_number-system"]
	path = Java_number-system
	url = https://github.com/lastone9182/Java_number-system.git
[submodule "goldbach_conjecture"]
	path = goldbach_conjecture
	url = https://github.com/lastone9182/goldbach_conjecture.git
[submodule "Java-bucket"]
	path = Java-bucket
	url = https://github.com/lastone9182/Java-bucket.git
[submodule "python-bucket"]
	path = python-bucket
	url = https://github.com/lastone9182/python-bucket.git
