[submodule "layerwindowtray"]
	path = layerwindowtray
	url = https://github.com/lastone9182/layerwindowtray.git
[submodule "my_pygame"]
	path = my_pygame
	url = https://github.com/lastone9182/my_pygame.git
[submodule "2016_OOP_study"]
	path = 2016_OOP_study
	url = https://github.com/RestrictedZone/2016_OOP_study.git
[submodule "php_dba47"]
	path = php_dba47
	url = https://github.com/lastone9182/php_dba47.git
[submodule "NetworkProgramming"]
	path = NetworkProgramming
	url = https://github.com/lastone9182/NetworkProgramming.git
[submodule "flask"]
	path = flask
	url = https://github.com/lastone9182/flask.git
[submodule "codingTheMatrix"]
	path = codingTheMatrix
	url = https://github.com/RestrictedZone/codingTheMatrix
[submodule "hypertrans"]
	path = hypertrans
	url = https://github.com/lastone9182/hypertrans.git
[submodule "laptop_rhythm"]
	path = laptop_rhythm
	url = https://github.com/lastone9182/laptop_rhythm.git
[submodule "telegramBot"]
	path = telegramBot
	url = https://github.com/lastone9182/telegramBot.git
