[submodule "layerwindowtray"]
	path = layerwindowtray
	url = https://github.com/lastone9182/layerwindowtray.git
[submodule "my_pygame"]
	path = my_pygame
	url = https://github.com/lastone9182/my_pygame.git
[submodule "2016_OOP_study"]
	path = 2016_OOP_study
	url = https://github.com/RestrictedZone/2016_OOP_study.git
